{% extends 'index.html.twig' %}
 
{% block title %}Bestnid{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="este.js"></script>
	<script type="text/javascript" src="../javascript/validaRegistro.js"></script>
{% endblock %}
 
{% block body %}

{{ parent() }} 
{% block main%} 	
					
						  <h3>Alta de usuarios</h3> 
							
				   
				   <h7>{{Informar}} </h7>
						
						
{%endblock%}
{%endblock%}


