{% extends 'index.html.twig' %}
 
{% block title %}Bestnid{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="este.js"></script>
	<script type="text/javascript" src="../javascript/validaRegistro.js"></script>
{% endblock %}
 
{% block body %}

{{ parent() }} 
{% block main%} 	
					
						  <h3>Alta de usuarios</h3> 
							
				   
				   <h7>{{Informar}} </h7><br>
				   
						 <h7><a href="../sesion/inicioSesion.php">>>Iniciar Sesion</a></h7><br>
						 <h7><a href="../registro/registro.php">>>Registrarse</a></h7><br>
						 <h7><a href="../templates/index.php">>>Volver al inicio</a></h7>
						 
						
{%endblock%}
{%endblock%}


