{% extends 'index.html.twig' %}
 
{% block title %}Bestnid{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}
 
{% block body %}

{{ parent() }} 
{% block main%} 	

				   <a href="../templates/index2.php" accesskey="i"> </a>
				   <a href="../registro/Registro.php" accesskey="q"> </a>

<h3>Preguntas frecuentes:</h3>
<A href="#primero"><h4>1. ¿Cómo me registro?</h4></A>
<A href="#segundo"><h4>2. ¿Cómo publico un artículo para la venta?</h4></A>
<A href="#tercero"><h4>3. ¿Cuánto cuesta vender un artículo?</h4></A>
<A href="#cuarto"><h4>4. ¿Cómo busco un producto?</h4></A>
<A href="#quinto"><h4>5. ¿Cómo oferto por un producto?</h4></A>
<A href="#sexto"><h4>6. ¿Cuánto cuesta comprar?</h4></A>
<A href="#septimo"><h4>7. ¿Se puede adquirir más de una unidad?</h4></A>
<A href="#octavo"><h4>8. ¿Cuál es el estado de los productos que se subastan?</h4></A>
<A href="#noveno"><h4>9. ¿Se subasta con precio base?</h4></A>
<A href="#decimo"><h4>10. ¿Cuales son las formas de pago?</h4></A>


</br>
<A name="primero"><h4>1. ¿Cómo me registro?</h4></A>
</br>


Registrarte es gratis y simple. Para registrarte haz clic <a href="http://localhost/IngenieriaDeSoftware/Registro/Registro.php">aquí</a> y comienza a subastar de todo en Bestnid.
Para registrarte deberás completar tus datos personales: Nombre y Apellido, e-mail (correo electrónico). Además deberás elegir: 
- Tu nombre de usuario con el cual los usuarios de Bestnid te identificarán.
- Tu clave de acceso secreta.
Es importante que sepas que tus datos son confidenciales. Solamente cuando concretas una subasta, tu nombre y tu e-mail estarán disponibles para la contraparte.
</br></br>
<A name="segundo"><h4>2. ¿Cómo publico un artículo para la venta?</h4></A>
</br>


Para publicar un artículo debes estar registrado en Bestnid y así obtener tu nombre de usuario y clave. 
Si ya estás registrado, utilizando el menú de navegación ingresa en Subastar. Una vez allí debes completar cuatro (4) pasos muy sencillos y rápidos para publicar tu subasta:</br>
1. Elige la Categoría: Te sugerimos que navegues a través de las mismas hasta encontrar la categoría que mejor se ajuste a las características de tu producto.</br>
2. Datos del producto: Ingresa toda la información que creas importante sobre tu producto a subastar. </br>
3. Revisión: Lee atentamente toda la información sobre tu producto y si deseas hacer alguna modificación.</br>
4. Confirmación de la publicación. </br>
</br></br>
<A name="tercero"><h4>3. ¿Cuánto cuesta vender un artículo?</h4></A>
</br>

Publicar un artículo en Bestnid no tiene costo. Solamente Bestnid cobrará una comisión del 30% sobre el precio de venta obtenido siempre que la operación se realice exitosamente. 
</br></br>
<A name="cuarto"><h4>4. ¿Cómo busco un producto?</h4></A>
</br>

Para buscar un buscar puedes hacerlo de varias formas. Las dos más simples son:</br>

1) Navegando a través del menú de categorías ubicado en la parte izquierda de la página principal de Bestnid. Allí vas eligiendo las categorías correspondientes hasta encontrar los productos de tu interés.</br>
2) Ingresando una o varias palabras claves en el buscador de Bestnid.</br>
</br></br>
<A name="quinto"><h4>5. ¿Cómo oferto por un producto?</h4></A>
</br>

Para ofertar por un artículo debes estar registrado en Bestnid y así obtener tu nombre de usuario y clave.
Si ya estás registrado utiliza las diferentes Opciones de Búsqueda para encontrar lo que estás buscando.

Una vez en la página del artículo deseado, ingresa tu dirección de e-mail y tu clave para poder ofertar por él, ingresando además la razón por la cual necesita ese producto.
</br></br>
<A name="sexto"><h4>6. ¿Cuánto cuesta comprar?</h4></A>
</br>
Bestnid cobra una comisión del 30% del valor por tu subasta.
</br></br>

<A name="septimo"><h4>7. ¿Se puede adquirir más de una unidad?</h4></A>
</br>
El interesado puede ofertar y adquirir la cantidad de unidades que desee. No existe un límite de subastas que el ofertador puede adquirir.
</br></br>

<A name="octavo"><h4>8. ¿Cuál es el estado de los productos que se subastan?</h4></A>
</br>
Los productos que se subastan se encuentran en el estado en que se exhiben en las fotos. Siendo unidades usadas, el ofertante y/o la empresa encargada de la subasta , no responde por productos dañados o en muy mal estado.
</br></br>

<A name="noveno"><h4>9. ¿Se subasta con precio base?</h4></A>
Si, el precio base es 1 peso.
</br></br>

<A name="decimo"><h4>10. ¿Cuales son las formas de pago?</h4></A>
Para mayor comodidad y seguridad, se permite pagar el producto subastado exitosamente sólo por medio de tarjeta de crédito. Una vez finalizada la subasta de manera exitosa, se comunican entre las partes a través del email.
</br></br>
{%endblock%}
{%endblock%}


{% block footer%}	
{{ parent() }}
{%endblock%}